<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>Question 1</td>
		<td>Question 2</td>
		<td>Question 3</td>
		<td>Question 4</td>
		<td>Question 5</td>
	</tr>
	<tr>
		<% for attribute in ['question1', 'question2', 'question3', 'question4', 'question5'] %>
	  		<td><%= @quiz.attributes[attribute].to_s%></td>
	  	<% end %>
	</tr>
</table>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
