
	<div class="jumbotron">
		<div class="container centered">
			
			<img src="http://www.placehold.it/1000x200&text=wide+banner+logo">
			<h1>Connecting Couples</h1>
			<p>An all inclusive resource for copules who want a stronger, deeper, and more intimate connection</p>
		</div>
</div>

	<div class="row">
		<div class="col-xs-3 bgWhite">
			<img src="http://www.placehold.it/150" class="float-left">
			<p>This will be the most recent blog post. Right now it is simply text entered in HTML, but once I get the blog up and running I plan
				on having this content dynamically created using ruby.</p>
			<p>The blog will focus on site news and updates as well as current couple related news and information. </p>
		</div>
		<div class="col-xs-1 spacer"></div>
		<div class="col-xs-4 bgWhite">
			<p>Hello and welcome to Connecting Couples. This is a site an community dedicated to helping couples develop stronger, deeper, and 
				more intimate connections. If this is your first time, why don't you try out our couple's quiz? If you're just looking for some
				light reading head over to the blog. We've got posts covering a variety of topics. If you are still not sure where to go, maybe
				the FAQ is the place for you.</p>
			<p>Feel free to look around. If you like what you see take a minute to register. Members enjoy all sorts of nifty benefits that I haven't
				completely thought out yet. Registration is quick and easy and our privacy policy is simple.
				We never share, sell, spam, or otherwise abuse the information you give us. So far the only thing we use your email for is password
				recovery.</p>
		</div>
		<div class="col-xs-1 spacer"></div>
		<div class="col-xs-3 bgWhite">
			<img src="http://www.placehold.it/150" class="float-right">
			<p>This will be an image and a link to the main quiz and any other site features we want to direct users to. Essentially it will be a
				highlight reel. I imagine the quiz will normally be fairly promenant, since that is what our main hook is going to be to get users
				to the site in the first place. But it will hopefully also be the tool we use to direct advertising.</p>
			<p>Some other features that may end up in this area are product reviews, articles, and things like that. This section will probably not
				be dynamically created at any point. I just don't think that makes sense at the moment.</p>
		</div>
	</div>



